    body {
      background-color: rgb(249, 212, 212);
    }
    .container {
      max-width: 1000px;
      margin: auto;
      padding: 20px;
      font-size: large;
    }
  
    h1 {
      margin-bottom: 5px;
    }

    .subtitle {
      color: black;
      margin-bottom: 20px;
    }

    .status {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
      margin-bottom: 25px;
    }

    .card {
      background: white;
      padding: 15px;
      border-radius: 8px;
      font-size: larger;
    }

    .list {
      padding-top: 2%;
      padding-bottom: 1%;
      background: white;
      border-radius: 10px;
      padding-right: 9%;
    }

    .slist {
      padding: 2%;
      width: 910px;
      background-color: rgb(215, 152, 152);
      margin-left: 2%;
      margin-bottom: 10px;
      display: flex;
      border-radius: 10px;

    }

    .slist a {
      color: black;
      text-decoration: none;
    }

    .functions {
      display: flex;
    }

    .functions_a {
      margin-left: 45px;
      width: 200px;
    }

    .but {
      align-items: end;
      display: flex;
      gap: 10px;
      padding: 1%;
      border: none;
      color: white;
      border-radius: 4px;
      margin-left: 500px;
    }

    .button {
      padding: 6px 10px;
      border: none;
      background: black;
      color: white;
      border-radius: 4px;
    }

    input {
      padding: 6px;
      width: 550px;
    }
  .backbutton{    
      padding: 10px 15px;
      border: none;
      background: black;
      color: white;
      border-radius: 4px;
      height: 20%;  
      text-decoration: none;    
    }
    .container_button{
      display: flex;
    }
    .backdiv{
      margin-top: 5%;
      margin-left: 65%;
    }