
    body {
      background-color: rgb(249, 212, 212);
    }

    form {
      margin-left: 2%;
    }

    .container {
      max-width: 1000px;
      margin: auto;
      padding: 20px;
      font-size: large;
    }

    h1 {
      margin-bottom: 5px;
    }

    .subtitle {
      color: black;
      margin-bottom: 20px;
    }

    .status {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
      margin-bottom: 25px;
    }

    .card {
      background: white;
      padding: 15px;
      border-radius: 8px;
      font-size: larger;
    }

    .lists {
      display: grid;
      grid-template-columns: repeat(auto-fit);
      gap: 20px;
    }

    .list {
      padding-top: 2%;
      padding-bottom: 1%;
      background: white;
      border-radius: 10px;
    }

    .list h3 {
      background-color: rgb(215, 152, 152);
      margin-left: 2%;
      margin-bottom: 10px;
    }

    .list a {
      margin-left: 2%;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .task {
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      margin-left: 2%;
    }

    span {
      margin-right: 10%;
    }

    .done {
      text-decoration: line-through;
      color: gray;
    }

    .button {
      padding: 6px 10px;
      border: none;
      background: black;
      color: white;
      border-radius: 4px;
    }

    .list_button {
      padding: 1%;
      width: 910px;
      background-color: rgb(215, 152, 152);
      margin-left: 2%;
      margin-bottom: 10px;
      display: flex;
      border-radius: 10px;
    }

    .container_2 {
      align-items: center;
      background-color: rgb(215, 152, 152);
      display: flex;
      gap: 10px;
      margin-left: 60%;
    }
    .container_2 button {
      height: 55%;
      background-color: #e63946;
      color: black;
      border: none;
      padding: 10px 16px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
    }

    .container_2 button:hover {
      background-color: #c1121f;
    }

    .topdelete {
      background-color: #e63946;
      color: white;
      padding: 10px 16px;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
    }

    .topdelete:hover {
      background-color: #c1121f;
    }

    .btn {
      padding: 10px 15px;
      background-color: red;
      color: rgb(72, 2, 2);
      border-radius: 5px;
      cursor: pointer
    }
    .btn:hover {
      background-color: rgb(232, 15, 15)
    }
    input {
      padding: 6px;
      width: 70%;
    }
     .backbutton{    
      padding: 10px 15px;
      border: none;
      background: black;
      color: white;
      border-radius: 4px;
      height: 20%;  
      text-decoration: none;    
    }
    .container_button{
      display: flex;
    }
    .backdiv{
      margin-top: 5%;
      margin-left: 65%;
    }
    .buttons{
      display: flex;
    }

  